body {
    background-color: var(--color-black);
    color: var(--color-white);
    cursor: none;
}


/* 커서  */
.cursor {
    width: 15px;
    height: 15px;
    pointer-events: none;
    position: fixed;
    padding: 0.3rem;
    background-color: #fff;
    border-radius: 50%;
/*     mix-blend-mode: difference; */
    transition: transform 0.3s ease;
}

.hover-this:hover ~ .cursor {
    transform: translate(-50%, -50%) scale(8);
}


.main {
    width: 1200px;
    margin: 0 auto;
    padding-top: 303px;
    box-sizing: border-box;
}

/* 드래그 색상 변경 */
::selection {color:black;background:var(--color-orange);}


/*메인 내비게이션 현재 접속중인 페이지 글씨 하얗게*/
.header .h_nav li:nth-child(1) a {
    color: var(--color-white);
}

/* :::: 메인 이미지+설명글 :::: */
.main .info_wrap {}
.main .info_wrap .info_img {
    width: 100%;
    height: 600px;
    background-color: lightgray;
}
.main .info_wrap .info_txt {
    width: 100%;
}
.main .info_wrap .info_txt .info_title {}
.main .info_wrap .info_txt .info_title h2 {
    font-size: 64px;
    font-weight: 700;
    margin-top: 63px;
    margin-bottom: 14px;
}
.main .info_wrap .info_txt .info_title h3 {
    font-size: 32px;
    font-weight: 500;
    color: var(--color-orange);
}
.main .info_wrap .info_txt .info_article {
    width: 100%;
    margin-top: 52px;
    text-align: justify;

    /*문단 2단 효과*/
    display: flex;
    justify-content: space-between;
}
.main .info_wrap .info_txt .info_article .article_kr,
.main .info_wrap .info_txt .info_article .article_eng {
    width: 552px;  
}
.main .info_wrap .info_txt .info_article .article_kr p,
.main .info_wrap .info_txt .info_article .article_eng p {
    font-size: 20px;
    font-weight: 300;
    line-height: 35px;
}

/* :::: 카테고리별 탭 섹션 시작 :::: */
.tab_wrap {
    width: 100%;
    margin-top: 150px;
    margin-bottom: 200px;
}




/* :::: 탭 섹션 공통 스타일 지정 :::: */
.content_wrap {
    width: 100%;
}
.tab_container { /*js적용시 애니메이션 효과*/
    transition: .3s;
}
.tab_section {
    width: 100%;
}
.tab_section h2 { /*제목 폰트*/
    font-size: 40px;
}
.tab_section p { /*본문 폰트*/
    font-size: 20px;
    font-weight: 300;
    line-height: 35px;
}
.tab_img {
    margin-top: 250px;
    margin-bottom: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
}
/* .tab_img img {
    background-color: lightgray;
    color: var(--color-black);
    font-size: 30px;
}
 */

/* :::: 아이덴티티 섹션 :::: */
#identity .tab_txt .tab_article {
    width: 100%;
    text-align: justify;

    /*문단 2단 효과*/
    display: flex;
    justify-content: space-between;
}

#identity .identity_title{
    font-size: 64px;
    font-weight: 700;
}
#identity .tab_txt .tab_article p {}
#identity .tab_txt .tab_article .article_kr,
#identity .tab_txt .tab_article .article_eng {
    width: 552px;
}
#identity .tab_section .img1 img {
    width: 522px;
    height: 705px;
}
#identity .tab_section .img2 img {
    max-width: 100%;    /* 반응형 */
    width: 80%;     /* 고정 크기 */
    height: auto;
}
